@media (min-width: 760px) {
    * {
        font-size: 1rem;
        font-weight: 700;
    }

    h1 {
        margin-bottom: 40px;
        font-size: 2rem;
        font-weight: 800;
        color: #444;
        cursor: default;
    }

    .inputForm {
        margin-top: 10px;
        border: 2px solid #ddd;
        border-radius: 20px;
        padding: 10px 20px;
        transition: 200ms;
        color: #555;
    }
    .inputForm::placeholder {
        color: #aaa;
    }

    .inputForm:focus {
        outline: none;
        border: 2px solid #eadebe;
        transition: 200ms;
    }
    .inputForm:focus::placeholder {
        opacity: 0%;
    }

    #submitIcon {
        position: relative;
        height: 36px; width: 36px;
        left: 460px; top: -40px;
        background-color: #ddd;
        border-radius: 40px;
        transition: all ease 300ms;
    }

    .inputForm:focus + #submitIcon {
        height: 42px; width: 42px;
        left: 505px; top: -43px;
        background-color: #eadebe;
        rotate: 90deg;
        transition: all ease 300ms;
        cursor: pointer;
    }

    .aList {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }
    .nonchecked {
        height: 30px; width: 30px;
        border-radius: 15px;
        box-shadow: 0 0 10px -5px #665e46;
        color: #fff;
    }
    .checked {
        margin-left: 10px;
        height: 30px; width: 30px;
        border-radius: 15px;
        background-color: #555;
        box-shadow: 0 0 10px -5px #665e46;
        color: #fff;
    }
    label > div {
        margin-left: 10px;
        color: #555;
        font-weight: 900;
        font-size: 1.1rem;
    }
    .listIcon {
        margin-right: 10px;
        color: #aaa;
        cursor: pointer;
    }
}