@media (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
        margin-bottom: 25px;
        margin-top: 40px;
    }

    .content {
        width: 185px;
    }

    #submitIcon {
        margin-left: 280px;
        margin-bottom: 50px;
    }
    .inputForm {
        padding: 10px 45px 10px 20px;
    }
    
    #modifyingContent {
        width: 185px;
    }
}
@media portrait, (max-width: 1023px) and (min-width: 768px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 40px;
        margin-top: 8vh;
    }

    .content {
        width: 365px;
    }

    #submitIcon {
        margin-left: 460px;
        margin-bottom: 15vh;
    }
    .inputForm:focus + #submitIcon {
        margin-left: 503px;
        height: 42px; width: 42px;
        margin-top: -42px;
    }
    .inputForm {
        padding: 10px 20px;
    }

    #modifyingContent {
        width: 350px;
    }
}
@media (min-width: 1024px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 40px;
        margin-top: 8vh;
    }

    .content {
        width: 465px;
    }

    #submitIcon {
        margin-left: 560px;
        margin-bottom: 15vh;
    }
    .inputForm:focus + #submitIcon {
        margin-left: 603px;
        height: 42px; width: 42px;
        margin-top: -42px;
    }
    .inputForm {
        padding: 10px 20px;
    }

    #modifyingContent {
        width: 450px;
    }
}

h1 {
    font-weight: 800;
    color: #444;
    cursor: default;
}

.listContainer {
    overflow: scroll;
}

.inputForm {
    height: 20px;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 20px;
    transition: 200ms;
    color: #555;
}
.inputForm::placeholder {
    color: #aaa;
}

.inputForm:focus {
    outline: none;
    border: 2px solid #eadebe;
    transition: 200ms;
}
.inputForm:focus::placeholder {
    opacity: 0%;
}

#submitIcon {
    height: 36px; width: 36px;
    margin-top: -40px;

    background-color: #ddd;
    border-radius: 40px;
    transition: all ease 300ms;
}

.inputForm:focus + #submitIcon {
    background-color: #eadebe;
    rotate: 90deg;
    transition: all ease 300ms;
    cursor: pointer;
}

.aList {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
}
label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
}
.nonchecked, .checked{
    margin-left: 10px;
    border-radius: 15px;
    color: #fff;

    height: 25px; width: 25px;
    box-shadow: 0 0 10px -5px #665e46;

    flex-shrink: 0;
}
.checked {
    background-color: #555;
}
.content {
    padding: 0px 15px 0px 20px;
    color: #555;

    word-break: break-all;
}
#modifyingContent {
    outline: none;  border: #fff 2px solid;
    padding: 0px;   margin-left: 20px;
}
#modifyingContent:focus {
    border-bottom: #eadebe 2px solid;
}
.listIcon {
    margin-right: 10px;
    color: #aaa;
    cursor: pointer;
    flex-shrink: 0;
}