.toastAlertContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 200px;   height: 30px;
    border-radius: 15px;
    
    color: #333;
    font-size: 0.9rem;
    background-color: rgba(255, 253, 234, 0.75);

    box-shadow: 1px 1px 5px #716e5c3b;
}

.openAnimation {
    animation: slideIn 250ms ease-in-out 0s 1 normal forwards;
}
.closeAnimation {
    animation: slideOut 250ms ease-in-out 0s 1 normal forwards;
}

.toastAlertContainer button {
    border: none;

    color: #5558a5;
    font-size: 0.8rem;
    font-weight: 700;

    background-color: #ffffff00;
}
.toastAlertContainer button:hover {
    cursor: pointer;
}
.toastAlertContainer button:active {
    color: #888;
}


@keyframes slideIn {
    from {
        transform: translateY(50%);
        opacity: 0%;
    } to {
        transform: translateY(0%);
        opacity: 100%;
    }
}
@keyframes slideOut {
    from {
        transform: translateY(0%);
        opacity: 500%;
    } to {
        transform: translateY(300%);
        opacity: 0%;
    }
}