@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* {
    font-family: "Noto Sans KR", sans-serif;
}

@media (min-width: 760px) {
  .AppContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .body {
    width: 600px;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
}