@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

@media (min-width: 950px) {
  .AppContainer {
    width: 100vw; height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
  }
  
  .body {
    width: 600px;
    display: flex;
    flex-direction: column;
    overflow: visible;
  }
}

@media (max-width: 950px) {

}