@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

@media (max-width: 767px) {
  .header {
    height: 150px;    width: 100vw;
    display: flex;
    align-items: end;   justify-content: space-between;

    border-radius: 0px 0px 20px 20px;
    background-color: #F3EEE0;
    box-shadow: 0px 0px 10px -5px;
  }
  .body {
    width: 320px;
  }
}
@media portrait, (max-width: 1023px) and (min-width: 768px) {
  .body {
    width: 500px;
  }
}
@media (min-width: 1024px) {
  .body {
    width: 600px;
  }
}

.AppContainer {
  width: 100vw; height: 100vh;
  display: flex;        flex-direction: column;
  align-items: center;  justify-content: start;
  overflow-x: hidden;
}
  
.body {
  display: flex;
  flex-direction: column;
  overflow: visible;
} 